###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
/**/.vs/
_site
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/Debug
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/*.user
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/*.filters
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/Makefile
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/*.Debug
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/*.Release
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/XPlat_LIB.cylib/*.geades
#/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/libXPlat_LIB.cylib/CortexM0
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/libXPlat_LIB.cylib/CortexM3
/MechatronicDesignSuite_DLL/MechatronicDesignSuite_DLL/XPlatSource/XPlat_LIB/XPlat_LIBold.vcxproj
